<div class="container">
  <%= link_to species_index_path do %>
    <button class="button">Add Astromon</button>
  <% end %>

  <%= link_to msl_gems_path do %>
    <button class="button">Your Gems</button>
  <% end %>
</div>

<%= render "shared/astromons", astromons: @astromons %>
