<%= link_to new_astromon_path do %>
  <button class="button">Add Astromon</button>
<% end %>

<%= link_to dashboard_path do %>
  <button class="button">Back</button>
<% end %>

<%= render "shared/astromons", astromons: @astromons %>
