<%= simple_form_for([@astromon, @second_gem]) do |f| %>
  <div class="gem-cards">
  <% @second_gems.each do |msl_gem| %>
    <%= render "shared/astromon-gems", msl_gem: msl_gem %>
    <% if msl_gem.available %>
      <%= check_box_tag "msl_gem", msl_gem.id %>
    <% end %>
  <% end %>
  </div>
  <%= f.submit "Add Second Gem" %>
<% end %>
