.gem-cards {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  .gem-card {
    display: flex;
    border: 1px solid black;
    .gem-pic {
      border: 1px solid black;
      .gem-desc {
        border: 1px solid black;
        margin: 16px;
        p {
          width: 120px;
          word-wrap: break-word;
        }
      }
    }
    .stat {
      border: 1px solid black;
      .main-stat {
        border: 1px solid black;
      }
      .sub-stat {
        border: 1px solid black;
      }
    }
  }
}
