.astromon-cards {
  .astromon-card {
    display: flex;
    border: 1px solid black;
    .astromon-data {
      padding: 16px;
      border: 1px solid black;
      .astromon-pic {
        padding-bottom: 16px;
      }
      .stat {
        display: flex;
        width: 340px;
        background: burlywood;
        border: 1px solid blanchedalmond;
        margin-bottom: 16px;
        border-radius: 8px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
        .stat-name {
          border-right: 1px solid blanchedalmond;
          width: 140px;
          padding: 8px;
        }
        .stat-boost {
          border-right: 1px solid blanchedalmond;
          width: 100px;
          padding: 8px;
        }
        .stat-gem {
          width: 100px;
          padding: 8px;
        }
      }
      .skill {
        background: burlywood;
        border: 1px solid blanchedalmond;
        margin-bottom: 16px;
        border-radius: 8px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
        img {
          width: 64px;
        }
      }
      .leader {
        background: burlywood;
        border: 1px solid blanchedalmond;
        margin-bottom: 16px;
        border-radius: 8px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
        img {
          width: 64px;
        }
      }
    }
    .astromon-gem {
      width: 360px;
      border: 1px solid black;
      a {
        padding-left: 16px;
      }
    }
  }
}

.gem-cards {
  display: flex;
  flex-wrap: wrap;
  .gem-card {
    background: burlywood;
    display: flex;
    width: 300px;
    height: 232px;
    margin: 16px;
    border: 1px solid blanchedalmond;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    .gem-left {
      border-right: 1px solid blanchedalmond;
      padding-top: 24px;
      .gem-pic {
        display: flex;
        justify-content: center;
        .gem-border {
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
        }
        .gem-icon {
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
      }
      .gem-desc {
        margin: 16px;
        p {
          width: 120px;
          margin-bottom: 8px;
        }
      }
    }
    .gem-right {
      .main-stat {
        border-bottom: 1px solid blanchedalmond;
        text-align: center;
        padding-top: 16px;
        width: 144px;
      }
      .sub-stat {
        p {
          margin: 0px;
          padding-left: 8px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
    }
  }
}
