.gem-cards {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  .gem-card {
    display: flex;
    border: 1px solid black;
    .gem-left {
      border: 1px solid black;
      .gem-pic {
        border: 1px solid black;
        display: flex;
        justify-content: center;
      }
      .gem-desc {
        margin: 16px;
        p {
          width: 120px;
          margin-bottom: 0px;
        }
      }
    }
    .gem-right {
      border: 1px solid black;
      .main-stat {
        border: 1px solid black;
      }
      .sub-stat {
        border: 1px solid black;
      }
    }
  }
}
