.filter {
  select {
    margin: 8px;
    padding: 8px;
    border-radius: 16px;
    background: burlywood;
    border-color: blanchedalmond;
  }
  select:focus {
    outline: none;
  }
  select:hover {
    background: rgba(210, 170, 130, 1.0);
  }
}

.element-tag {
  img {
    width: 48px;
    height: 48px;
  }
}

.element-tag:hover {
  cursor: pointer;
}

.element-select {
  border: 1px solid chartreuse;
  box-shadow: 0px 0px 4px 4px rgba(127, 255, 0, 0.4);
  border-radius: 50%;
}

.element-filter {
  text-align: center;
}

#shape:hover {
  cursor: pointer;
}

#stat:hover {
  cursor: pointer;
}

#trinket:hover {
  cursor: pointer;
}

.filter-border {
  background: rgba(180, 120, 100, 0.5);
  border: 1px solid blanchedalmond;
  width: 452px;
  margin-top: 8px;
  border-radius: 24px;
  padding: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.gem-filter-border {
  background: rgba(180, 120, 100, 0.5);
  border: 1px solid blanchedalmond;
  width: 526px;
  margin-top: 8px;
  border-radius: 24px;
  padding: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.trinket-filter-border {
  background: rgba(180, 120, 100, 0.5);
  border: 1px solid blanchedalmond;
  width: 378px;
  margin-top: 8px;
  border-radius: 24px;
  padding: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
