.filter {
  select {
    margin: 8px;
    padding: 8px;
    border-radius: 16px;
    background: burlywood;
    border-color: blanchedalmond;
  }
  select:focus {
    outline: none;
  }
  select:hover {
    background: rgba(210, 170, 130, 1.0);
  }
}

.element-tag {
  img {
    width: 48px;
    height: 48px;
  }
}

.element-tag:hover {
  cursor: pointer;
}
