.form {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 600px;
}

.inner-form {
  padding: 100px;
}

.form-inputs {
  width: 600px;
  input {
    border-radius: 8px;
  }
}

.form-actions {

}

.form-links {
  display: flex;
}

.form-control.string {
  width: 400px;
}

.form-control.password {
  width: 400px;
}

.simple_form {
  width: 400px;
  margin: 0 auto;
}

.new-form {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 640px;
  text-align: center;
  h3 {
    margin-bottom: 16px;
  }
  .type {
    width: 240px;
    display: inline-block;
    select {
      width: 240px;
    }
  }
  input {
    width: 240px;
    border-radius: 8px;
  }
  .stat {
    display: flex;
    justify-content: center;
    .main {
      margin: 16px;
    }
    .sub {
      margin: 16px;
    }
  }
  .astromon-pic {
    img {
      margin-bottom: 8px;
    }
  }
}

.form-control {
  width: 600px;
  border-radius: 8px;
}

.paginate_link {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}
.paginate_link a, .paginate_link span, .paginate_link em {
  padding: 0.2em 0.5em;
}
.paginate_link .disabled {
  color: blanchedalmond;
}
.paginate_link .current {
  font-style: normal;
  font-weight: bold;
  color: rgba(210, 170, 130, 1.0);
}
.paginate_link a {
  color: blanchedalmond;
  text-decoration: none;
}
.paginate_link a:hover, .paginate_link a:focus {
  color: rgba(210, 170, 130, 1.0);
}
.paginate_link .page_info {
  color: blanchedalmond;
  padding-top: 0.8em;
}
.paginate_link .previous_page, .paginate_link .next_page {
  border-width: 2px;
}
.paginate_link .previous_page {
  margin-right: 1em;
}
.paginate_link .next_page {
  margin-left: 1em;
}
