.form {
  padding: 16%;
  margin-top: 40px;
}
.form-inputs {
  width: 600px;
  input {
    border-radius: 8px;
  }
}

.form-actions {

}

.form-links {

}

.new-gem-form {
  input {
    width: 300px;
    border-radius: 8px;
  }
}
