.Square-bg {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: darkgoldenrod;
  margin: 8px;
  position: relative;
}

.Triangle-bg {
  width: 52px;
  height: 52px;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  border-radius: 8px;
  background: darkgoldenrod;
  margin: 8px;
  position: relative;
}

.Diamond-bg {
  width: 44px;
  height: 44px;
  transform: rotate(45deg);
  border-radius: 8px;
  background: darkgoldenrod;
  margin: 16px;
  position: relative;
}

.Square {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.Triangle {
  width: 40px;
  height: 40px;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  border-radius: 4px;
  position: absolute;
  top: 8px;
  left: 6px;
}

.Diamond {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.empty-gem {
  background: rgba(140, 80, 60, 1.0);
}

.Ruin {
  background: lightgray;
}

.Valor {
  background: blue;
}

.Life {
  background: red;
}

.Protection {
  background: orange;
}

.Vitality {
  background: green;
}

.Conviction {
  background: gold;
}

.Intuition {
  background: darkviolet;
}

.Leech {
  background: radial-gradient(darkred, black);
}

.Siphon {
  background: radial-gradient(darkblue, black);
}

.Pugilist {
  background: radial-gradient(magenta, black);
}

.Healer {
  background: radial-gradient(red, black);
}

.Magi {
  background: radial-gradient(blue, black);
}

.Zeal {
  background: linear-gradient(90deg, blue 50%, purple 50%);
}

.Armour {
  background: linear-gradient(90deg, lightgray 50%, gold 50%);
}

.Longevity {
  background: linear-gradient(90deg, gold 50%, red 50%);
}

.Indomitability {
  background: linear-gradient(90deg, orange 50%, gold 50%);
}

.Salvation {
  background: linear-gradient(90deg, red 50%, green 50%);
}

.Bastion {
  background: radial-gradient(lightgreen, black);
}

.Ferocity {
  background: turquoise;
}

.Tenacity {
  background: brown;
}

.Fortitude {
  background: deeppink;
}

.Healing {
  background: greenyellow;
}
