.links {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  .link {

  }
}

.posts {
  margin-top: 32px;
  .post {
    margin: 32px;
    padding: 16px;
    border-radius: 8px;
    background: AntiqueWhite;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    .title {
      margin: 16px;
      margin-bottom: 32px;
    }
    .content {
      margin: 16px;
      margin-bottom: 32px;
    }
  }
}
