<%= simple_form_for([@astromon, @third_trinket]) do |f| %>
  <div class="gem-cards">
  <% @third_trinkets.each do |trinket| %>
    <%= render "shared/astromon-trinkets-three", trinket: trinket %>
    <% if trinket.available %>
      <%= check_box_tag "trinket", trinket.id %>
    <% end %>
  <% end %>
  </div>
  <%= f.submit "Add Third Trinket" %>
<% end %>
